    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Landing-Page</h2>
              <br/>
                Potemės kiekvienam!

Rašome 10 klasės PUPP ir 12 klasės VBE potemių kalbėjimus. Rašto darbų rašymu lietuvių kalbos kalbėjimo įskaitoms užsiimame jau šešerius metus ir kiekvienam klientui skiriame individualų dėmesį!
Turbūt daugelis iš Jūsų su baime ir nepasitikėjimu laukiate kalbėjimo įskaitos ir vis nesiryžtate pradėti rašyti įskaitos kalbos, nes nežinote nuo ko pradėti? Kitaip sakant pritrūko žodžių kišenėje. Užsukote į tinkamą tinklalapį, mes galime Jums padėti. :)
Kodėl verta pasirinkti mus ?

Visų pirma, bene svarbiausias dalykas, jog mūsų paslaugos nėra automatizuotos – mes tiesiogiai bendraujame su klientais, sprendžiame iškilusias problemas. Turbūt jau pastebėjote, jog kiti didieji, panašias paslaugas siūlantys, tinklapiai to nedaro. Todėl didžiausias ne visuomet yra geriausias.
Mes nemeluosime tau, kad kalbas rašo mokytojų ar dėstytojų komanda kaip daro kiti.
Šį darbą dirbame jau šešerius metus bei nestovime vietoje – nuolat tobulėjame ir plečiame savo žinias;
Garantuojame konfidencialumą;
Nesiunčiame kelių vienodų darbų į tas pačias mokyklas ;
Mylime savo darbą, todėl esame pasiekę puikių rezultatų šioje srityje.
Mūsų paslaugos

Rašome pavyzdines* 10 ir 12 klasių kalbėjimo įskaitų potemių kalbas;
Regiame planus šioms kalboms;
Pristatymams rengiame įvairias skaidres (pagal mūsų ar Jūsų parašytas kalbas);
Teikiame konsultacijas dėl kalbėjimo įskaitų klausimų;
Atliekame ir kitokius rašto bei namų darbus.
*Pavyzdinės kalbos – tai darbai, iš kurių galite pasisemti idėjų savo kalbos rašymui.
                <br/>
              </div>
        </div>
    </section>
